:root {
  --color-bg-high: #161512;
  --color-bg-low: #322f2a;

  --color-text-primary: #949494;
  --color-text-l-dark: #cacaca;
  --color-text-hover: #fff;
  --color-text-error: #ff5252;
  --color-link: #3692e7;
  --color-link-hover: #4ea6f9;
  --color-highlight: #d64f00;
  --color-board-dark: #262521;
  --color-board-control: #33312e;

  --color-btn-def-hover: #464440;
  --color-btn-green: #629924;
  --color-btn-green-hover: #90cc4c;

  --color-border: #404040;

  --header-height: 46px;

  --group-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
